/* color palette from <https://github.com/vuejs/theme> */
:root {
  --vt-c-white: #ffffff;
  --vt-c-white-soft: #f8f8f8;
  --vt-c-white-mute: #f2f2f2;

  --vt-c-black: #181818;
  --vt-c-black-soft: #222222;
  --vt-c-black-mute: #282828;

  --vt-c-indigo: #2c3e50;
  --vt-c-limouni: rgb(249 115 22 / var(--tw-bg-opacity, 1));

  --vt-c-divider-light-1: rgba(60, 60, 60, 0.29);
  --vt-c-divider-light-2: rgba(60, 60, 60, 0.12);
  --vt-c-divider-dark-1: rgba(84, 84, 84, 0.65);
  --vt-c-divider-dark-2: rgba(84, 84, 84, 0.48);

  --vt-c-text-light-1: var(--vt-c-indigo);
  --vt-c-text-light-2: rgba(60, 60, 60, 0.66);
  --vt-c-text-dark-1: var(--vt-c-white);
  --vt-c-text-dark-2: #000;

  --color1: #f97316;
  --color2: #f9fafb;
  --color3: #b0e2fd;
  --color4: #707070;
  --color5: #f9d9c3;
  --color6: #f4627f;
  --green1: #a1c84e;
  --green2: #d0e1a4;
  --green3: #eef8d9;
  --font: "Poppins", sans-serif;
  --bs-btn-active-bg: #a1c84e;
}

/* semantic color variables for this project */
:root {
  --color-background: var(--vt-c-black);
  --color-background-soft: var(--vt-c-white-soft);
  --color-background-mute: var(--vt-c-white-mute);

  --color-border: var(--vt-c-divider-light-2);
  --color-border-hover: var(--vt-c-divider-light-1);

  --color-heading: var(--vt-c-text-light-1);
  --color-text: var(--vt-c-text-light-1);
  --color-limouni: var(--vt-c-limouni);

  --section-gap: 160px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-background: var(--vt-c-white);
    --color-background-soft: var(--vt-c-black-soft);
    --color-background-mute: var(--vt-c-black-mute);

    --color-border: var(--vt-c-divider-dark-2);
    --color-border-hover: var(--vt-c-divider-dark-1);

    --color-heading: var(--vt-c-text-dark-1);
    --color-text: var(--vt-c-text-dark-2);
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

body {
  background-color: var(--color2) !important;
  font-family: var(--font) !important;
  overflow-x: hidden;
  min-height: 100vh;
  color: var(--color-text);
  background: var(--color-background);
  transition:
    color 0.5s,
    background-color 0.5s;
  line-height: 1.6;
  font-family:
    Inter,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.bgblanc {
  background-color: #fff;
}

span.underligned:after {
  content: "";
  display: block;
  background: var(--color3);
  width: 104%;
  height: 8px;
  position: relative;
  top: -11px;
  right: 4px;
  margin-bottom: -11px;
  z-index: -1;
  border-radius: 50px;
  opacity: 1;
}
span.underligned.bolder {
  font-weight: bold;
}
span.underligned {
  display: inline-block;
  color: #000;
  font-weight: 600;
  position: relative;
  z-index: 2;
}

.inputError {
  border: 1px solid var(--color6) !important;
  background-color: rgba(244, 98, 127, 0.1);
}
.nextBtn {
  width: 100%;
  background-color: var(--color1);
  color: #fff;
  height: 60px;
  border-radius: 9px;
  border: 0;
  font-size: 21px;
}
.assurmabarak p {
  color: #6b6b6b;
  font-size: 12px;
}

.assurmabarak {
  margin: 15px 0;
  text-align: justify;
}
.stepDescription {
  font-size: 16px;
  margin: 0;
}
.stepTitle {
  font-weight: bold;
  font-size: 21px;
}

#header-bar {
  padding: 6px 0;
}

@media (min-width: 576px) {

  .container,
  .container-sm {
      max-width: 540px;
  }
}

@media (min-width: 768px) {

  .container,
  .container-md,
  .container-sm {
      max-width: 720px;
  }
}

@media (min-width: 992px) {

  .container,
  .container-lg,
  .container-md,
  .container-sm {
      max-width: 960px;
  }
}

@media (min-width: 1200px) {

  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl {
      max-width: 1140px;
  }
}

@media (min-width: 1400px) {

  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl,
  .container-xxl {
      max-width: 1320px;
  }
}

.progress,
.progress-stacked {
  --bs-progress-height: 1rem;
  --bs-progress-font-size: 0.75rem;
  --bs-progress-bg: var(--bs-secondary-bg);
  --bs-progress-border-radius: var(--bs-border-radius);
  --bs-progress-box-shadow: var(--bs-box-shadow-inset);
  --bs-progress-bar-color: #fff;
  --bs-progress-bar-bg: #0d6efd;
  --bs-progress-bar-transition: width 0.6s ease;
  display: flex;
  height: var(--bs-progress-height);
  overflow: hidden;
  font-size: var(--bs-progress-font-size);
  background-color: var(--bs-progress-bg);
  border-radius: var(--bs-progress-border-radius);
}

.progress {
  background-color: #e0e0e0;
}

.progressMobile,
.progress {
  height: 4px !important;
}

.progress-bar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
  color: var(--bs-progress-bar-color);
  text-align: center;
  white-space: nowrap;
  background-color: var(--bs-progress-bar-bg);
  transition: var(--bs-progress-bar-transition);
}

.progressMobile {
  border-radius: 50px;
  background: var(--color-limouni) !important;
}

.progressMobile,
.progress {
  height: 4px !important;
}

.questionLink {
  color: var(--color4);
}

.assistanteImg {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.assistanteImg p {
  margin: 0;
  margin-right: 2px;
}

.assistanteImg img {
  width: 40px;
  margin-top: 3px;
}

.img-fluid {
  max-width: 100%;
  height: auto;
}

img,
svg {
  vertical-align: middle;
}

.assistanteImg:after {
  content: "";
  width: 14px;
  height: 14px;
  background: var(--green1);
  display: inline-block;
  border-radius: 100%;
  border: 2px solid #fff;
  position: relative;
  top: 14px;
  right: 10px;
}

@media (min-width: 768px) {
  .d-md-block {
      display: block !important;
  }
}

@media (min-width: 992px) {
  .d-lg-block {
      display: block !important;
  }
}
button.pusletooltip:hover {
  -webkit-animation: pulse 2s infinite;
  animation: pulse 2s infinite;
  border-color: transparent;
  transition:0.2s;
}

@keyframes pulse {
	0% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 #c9c9c9;
	}

	70% {
		transform: scale(1);
		box-shadow: 0 0 0 10px rgba(208, 225, 164, 0);
	}

	100% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 rgba(208, 225, 164, 0);
	}
}
.formLabel {
  margin: 0 0 0px 0 !important;
}
.formLabel {
  font-weight: bold;
  font-size: 16px;
}
.headerSepar {
  height: 1px;
  background-color: #e9e9e9;
  width: 100%;
  margin-top: 13px !important;
}
.fas, .fa-solid {
  font-weight: 900;
}
.fa-question:before {
  content: "?";
}
button.pusletooltip {
  height: 30px;
  width: 30px;
  font-size: 12px;
  border-radius: 100%;
  background: #c9c9c9;
  border: 5px solid #f1f1f1;
  color: #6b6b6b;
  margin-left: 8px;
  position: relative;
  top: -2px;
  margin-bottom: -20px;
}
.assurmabarak {
  margin: 15px 0;
  text-align: justify;
}
.bonasavoir p, .assurmabarak p {
  color: #6b6b6b;
  font-size: 12px;
}
.bonasavoir {
  display: flex;
  align-items: center;
  margin: 15px 0;
}
.bonasavoir img {
  min-width: 37px;
}
.bonasavoir h6 {
  font-size: 12px;
  font-weight: bold;
  color: #000;
}
.separateur {
  height: 1px;
  background-color: var(--color3);
  width: 96%;
  margin: auto;
}
.firstBtn:hover{
  color: var(--color1);
}
.firstBtn {
  width: 100%;
  background-color: var(--color3);
  color: #000;
  height: 60px;
  border-radius: 9px;
  border: 0;
  font-size: 21px;
  font-weight: 700;
}
.errorMsg, .raceErrorMsg {
  display: flex;
  align-items: center;
  font-size: 13px;
  color: var(--color6);
  margin-top: 9px;
}
.btnImg {
  height: 47px;
  margin-top: -17px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.btnImg {
  height: 47px;
  margin-top: -17px;
}
.btn-check:checked + label .checkedLabel {
  opacity: 1 !important;
  transition: 0.5s;
}
#formulaire .btn-check:checked + .btn, #formulaire .btn.active {
  background-color: var(--color5) !important;
  border-color: var(--color1) !important;
  color: #3e3e3e;
}
#formulaire .iconLabel {
  background-color: #fff;
  border: 1px solid #d9d9d9;
  color: #000;
  width: 100%;
}
#formulaire input, #formulaire select {
  border-radius: 5px;
  padding: 13px 20px;
}
.formIconContainer {
  width: 100%;
}
.stepDescription {
  font-size: 16px;
  margin: 0;
}
.stepTitle {
  font-weight: bold;
  font-size: 21px;
}
#formulaire {
  padding: 40px 0;
}
#header-bar {
  padding: 6px 0;
}
@media (min-width: 576px) {
  .container, .container-sm {
      max-width: 540px;
  }
}
@media (min-width: 768px) {
  .container, .container-md, .container-sm {
      max-width: 720px;
  }
}
@media (min-width: 992px) {
  .container, .container-lg, .container-md, .container-sm {
      max-width: 960px;
  }
}
@media (min-width: 1200px) {
  .container, .container-lg, .container-md, .container-sm, .container-xl {
      max-width: 1140px;
  }
}
@media (min-width: 1400px) {
  .container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
      max-width: 1320px;
  }
}
.progress, .progress-stacked {
  --bs-progress-height: 1rem;
  --bs-progress-font-size: 0.75rem;
  --bs-progress-bg: var(--bs-secondary-bg);
  --bs-progress-border-radius: var(--bs-border-radius);
  --bs-progress-box-shadow: var(--bs-box-shadow-inset);
  --bs-progress-bar-color: #fff;
  --bs-progress-bar-bg: #0d6efd;
  --bs-progress-bar-transition: width 0.6s ease;
  display: flex;
  height: var(--bs-progress-height);
  overflow: hidden;
  font-size: var(--bs-progress-font-size);
  background-color: var(--bs-progress-bg);
  border-radius: var(--bs-progress-border-radius);
}
.progress {
  background-color: #e0e0e0;
}
.progressMobile, .progress {
  height: 4px !important;
}
.progress-bar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
  color: var(--bs-progress-bar-color);
  text-align: center;
  white-space: nowrap;
  background-color: var(--bs-progress-bar-bg);
  transition: var(--bs-progress-bar-transition);
}
.progressMobile {
  border-radius: 50px;
  background: var(--color-limouni) !important;
}
.progressMobile, .progress {
  height: 4px !important;
}
.questionLink {
  color: var(--color4);
}
.assistanteImg {
  display: flex;
  align-items: center;
  cursor: pointer;
}
.assistanteImg p {
  margin: 0;
  margin-right: 2px;
}
.assistanteImg img {
  width: 40px;
  margin-top: 3px;
}
.img-fluid {
  max-width: 100%;
  height: auto;
}
img, svg {
  vertical-align: middle;
}
@media (min-width: 768px) {
  .d-md-block {
      display: block !important;
  }
}
@media (min-width: 992px) {
  .d-lg-block {
      display: block !important;
  }
}

.apayer {
  background-color: var(--color3);
  padding: 20px;
  font-size: 14px;
  border-radius: 9px;
  border: 1px solid var(--color3);
}

.apayer ul{
  margin: 0;
  padding-left: 20px;
}

.leprix span {
  font-size: 15px;
  font-weight: 700;
}

.leprix {
  font-size: 11px;
  display: inline-block;
}

.totalBloc {
  margin-bottom: 18px;
  border-bottom: 1px solid var(--color1);
  font-size: 16px;
}
.colorText{
  color: var(--color1);
}

.progressdiv{
  margin-bottom: 50px !important;
}